{% extends "layout.html" %}
{% set active_page = "genres" %}

{% block body %}

<h2>Moves for {{ genre.name }}</h2>

<table class="table table-striped genres-table">
    <thead>
        <tr>
            <th>Move name</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
    {% for move in moves %}

    <tr>
        <td>
            {{ move.name }}
        </td>
        <td>
            <a href="/genres/{{ genre.id }}/moves/{{ move.id }}/edit" class="btn btn-sm btn-primary">Edit</a>
            <form action="/genres/{{ genre.id }}/moves/{{ move.id }}" method="POST" class="table__delete-form">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="submit" value="Delete" class="btn btn-sm btn-danger"
                    onclick="return confirm('are you sure?')" />
            </form>
        </td>
    </tr>

    {% else %}
    <caption><em>No moves here so far</em></caption>
    {% endfor %}
    </tbody>
</table>


<form action="/genres/{{ genre.id }}/moves" method="POST" class="form-inline">
    <div class="form-group">
        <input type="text" name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-default">Add</button>
</form>


{% endblock %}


